/*
body {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #808080;
    font-family: Arial, sans-serif;
    margin: 0;
}
    */
textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
}
button {
    width: 100%;
    padding: 20px;
}
img {
    margin-top: 20px;
    border:groove;
    padding:10px;
    width: 100%;
    max-width: 100%;
    height: auto;
}
.spinner-container{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top:25px;
}
.large-spinner{
    width: 25rem;
    height: 25rem;
}
