header{
    font-size: 1.5em;
}
body{
    background-color: #404040;
    font-size: 1.5em;
}
textarea {
    width: 100%;
    height: 100px;
    background-color: #F0F0F0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
button {
    width: 100%;
    padding: 20px;
}
img {
    margin-top: 20px;
    border:groove;
    padding:10px;
    width: 100%;
    max-width: 100%;
    height: auto;
}
.spinner-container{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top:25px;
}
.large-spinner{
    width: 25rem;
    height: 25rem;
}
