/*
Custom Css
aqua blue hex #05c3dd
magenta hex #ff00ff
p{
	color: #ff00ff
}
*/

/*
 body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
*/

        /* Modal Styles */
       
