textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    resize: none; /* Disable manual resizing */
    overflow: hidden; /* Hide the scrollbar */
}

 #registerModal {
     display: none; /* Hidden by default */
     position: fixed;
     z-index: 1;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5); /* Black overlay */
     justify-content: center;
     align-items: center;
 }

 #loginModal {
     display: none; /* Hidden by default */
     position: fixed;
     z-index: 1;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5); /* Black overlay */
     justify-content: center;
     align-items: center;
 }
 .myModal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1001;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black overlay */
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 5px;
}

.myModal .loadingMessage {
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 5px;
    color: white;
}

 .editItem{
    cursor: pointer;
    width: max-content;
    margin: 10px;
    padding:5px;
    border: solid 1px magenta;
    border-radius: 8px;
 }
 #editItemModal {
     display: none; /* Hidden by default */
     position: fixed;
     z-index: 1000;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5); /* Black overlay */
     justify-content: center;
     align-items: center;
 }
 #viewItemModal {
     display: none; /* Hidden by default */
     position: fixed;
     z-index: 1000;
     left: 0;
     top: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.5); /* Black overlay */
     justify-content: center;
     align-items: center;
 }

#editItemContainer {
    background: white;
    width: 80%;  /* Set the width of the modal */
    max-height: 90%; /* Ensure the modal doesn’t exceed the viewport height */
    padding: 20px;
    overflow-y: auto; /* Enable vertical scrolling if content exceeds the max height */
    border-radius: 8px; /* Optional: for rounded corners */
}
#viewItemContainer {
    background: white;
    width: 80%;  /* Set the width of the modal */
    max-height: 90%; /* Ensure the modal doesn’t exceed the viewport height */
    padding: 20px;
    overflow-y: auto; /* Enable vertical scrolling if content exceeds the max height */
    border-radius: 8px; /* Optional: for rounded corners */
}

 #registerContainer {
     background-color: #fff;
     padding: 30px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     border-radius: 8px;
     width: 300px;
     text-align: center;
 }
 #loginContainer {
     background-color: #fff;
     padding: 30px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     border-radius: 8px;
     width: 300px;
     text-align: center;
 }

 input[type="text"], input[type="password"] {
     width: 100%;
     padding: 10px;
     margin: 10px 0;
     border: 1px solid #ddd;
     border-radius: 4px;
 }
 .error {
     color: red;
     margin-top: 10px;
 }

 /* Close Button */
 .close {
     position: absolute;
     top: 10px;
     right: 10px;
     font-size: 25px;
     color: #aaa;
     cursor: pointer;
 }

 .close:hover {
     color: black;
 }

 /* Button to open modal */
 #loginButton {
     padding: 10px 20px;
     background-color: #007BFF;
     color: white;
     border: none;
     border-radius: 5px;
     cursor: pointer;
 }

 #loginButton:hover {
     background-color: #0056b3;
 }

button{
    border-radius: 8px;
    margin-top:8px;
    margin-bottom:8px;
}
#deleteButton{
    background-color: #A83512;
}

 /*
 .form-group{
     display: flex;
     align-items: center;
     margin-bottom: 1rem;
 }
 label{
     margin-right: 10px;
 }
 */
  
