/*
header{
    font-size: 1.5em;
}
body{
    color: #FAFAFA;
    background-color: #202020;
    font-size: 1em;
}
textarea {
    color: #FAFAFA;
    width: 100%;
    min-height:25px;
    background-color: #111111;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}
textarea::placeholder{
    color: #999999;
}
button {
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
img {
    margin-top: 20px;
    border:groove;
    padding:10px;
    width: 100%;
    max-width: 100%;
    height: auto;
}
pre{
    color: #FAFAFA;
    display:flex;
    width:100%;
    padding:5px;
    margin:5px;
    white-space:pre-wrap;
    word-wrap:break-word;
}
.chat-history{
    color: #FAFAFA;
    width:100%;
    max-width:100%;
    margin:20px auto;
    padding: 5px;
    white-space:pre-wrap;
    word-wrap:break-word;
}
select{
    color:#FFFFFF;
    background-color:#111111;
    padding: 5px;
}
#modelSelect{
    width:50%
}
label{
    padding:5px;
}
.user-message {
    background-color: #707070;
    margin-bottom:15px;
    padding: 10px;
    width: auto;
    max-width: 80%;
    align-self: flex-end;
    margin-left: auto;
    text-align: left;
    border-radius:15px;
}
.assistant-message{
    background-color: #444444;
    margin-bottom:15px;
    padding: 10px;
    max-width: 95%;
    align-self: flex-start;
    margin-right: auto;
    text-align: left;
    border-radius:15px;
}
.spinner-container{
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top:25px;
}
.large-spinner{
    width: 25rem;
    height: 25rem;
}
.generated-image{
    background-color: #444444;
    margin-bottom:15px;
    padding: 10px;
    max-width: 100%;
    align-self: flex-start;
    margin-right: auto;
    border-radius:15px;
}
.input-container {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px; /* Gap between items 
}
#maintenanceMessage{
    background-color: #BB7777;
    color: #EEEEEE;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
}
#trainOfThought{
    border: dotted;
    border-width:1px;
    border-radius:15px;
    border-color: #999999;
    padding: 5px;
}
#dropArea{
    border: dotted;
    border-width:1px;
    border-radius:15px;
    border-color: #999999;
    margin:5px;
    padding: 5px;
}
#dropZone{
    border: 5px solid blue;
    width: 200px;
    height: 100px;
}
*/
